*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #334b39;
}
.site{
    width: 100%;
    max-width: 2500px;
    
}
.header {
    margin: 0;
    padding: 10px 5% 10px 5% ;
    font-size: 24px;
    color: #EBC781;
    width: 100%;
    background: #0F2F18;
    display: flex;
    align-items: center;

}
.logo {
    width: 10%;
}
.menu{
    width: 90%;
}
.menu li {
	list-style-type: none;
    width: 17.5%;
}
.menu li a{
    text-decoration: none;
    color: #EBC781;
    font-size: 24px;

}
.menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.account{
    display: flex;
    font-size: 20px;
    background: #EBC781;
    width: 17%;
    height: 43px;
    align-items: center;
    justify-content: center;
}
.account li a{
    font-size: 20px;
    color: black;
    margin: 0 5px 0 5px;
}
.account li a:hover{
    color: #FF6B00;
}





.line{
    width: 100%;
    height: 4px;
    background:#EBC781;
}
.content{
    margin: 0;
    padding: 50px 5% 50px 5%;
    background-color: #0F2F18;
    width: 100%;
    height: auto;
}
.block1, .block2 , .block3{
    margin: 0;
    padding: 20px 2% 20px 2%;
    width: 100%;
    height: auto;
    background-color: #EBC781;
    border-radius: 20px;
}
.block1 *{
    margin: 10px 0 10px 0 ;
}
.block1 img {
    border-radius: 20px;
}
.block1 p ,.block2 p{
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}
.block2, .block3{margin-top: 50px;}
.block3 p{
    margin: 30px 0 30px 0;
}
.block3 iframe{
    width: 100%;
    height: 600px;
}
.block3 iframe{
    border-radius: 20px;
}
.footer{
    margin: 0;
    padding: 20px 5% 20px 5%;
    background-color: #0F2F18;
    width: 100%;
    height: auto;
    display: flex;
}
.link_footer h1, .contacts2 h1{
    color: #FF6B00;
}
.link_footer a{
    text-decoration: none;
    color: #EBC781;
    font-size: 24px;
}
.contacts1{
    display: flex;

}
.contacts2 a {
    text-decoration: none;
    color: #EBC781;
    font-size: 24px;
}
.lyceum {
    color: #EBC781;
    font-size: 24px;
    text-align: end;
}
.link_footer{width: 30%;}
.contacts {width: 70%;}
.contacts2{
    width: 95%;
    
}
.social_network{
    width: 5%;
}

@media screen and (max-width: 1000px){
    
}