*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #334b39;
}
body.noscroll{
    overflow: hidden;
}
.site{
    width: 100%;
    max-width: 2500px;
    
}
.header {
    margin: 0;
    color: #EBC781;
    width: 100%;
    padding: 10px 5% 10px 5% ;
    height: 75px;
    background: #0F2F18;
    display: flex;
    align-items: center;
}
.header_content{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 10%;
    height: auto;
}
.logo img{
    width: 55%;
}
.menu{
    width: 87%;
}
.navbar_wrap{
    display: flex;
    justify-content: space-between;
}
.hamb, .popup{
    display: none;
}
.menu li {
	list-style-type: none;
    line-height: 0;
}
.menu li a{
    text-decoration: none;
    font-size: 20px;
}
.menu1{
    display: flex;
    width: 100%;
    align-items: center;
    
}
.link {
    width: 20%;
    text-align: center;
}
.link a{
    color: #EBC781;
}
.link a:hover{
    color: #FF6B00;
}
.login{
    display: flex;
    width: 17%;
    margin: 0 3% 0 0;
    background: #EBC781;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 43px;
}
.login li {
    width: 50%;
    margin: 0 4% 0 0;
}

.login li a{
    color: black;
    font-size: 12px;
    margin: 0 5px 0 5px;
}
.entrance{
    width: 30%;
}
.login li a:hover{
    color: #505050;
}

.line{
    width: 100%;
    height: 4px;
    background:#EBC781;
}





.content{
    margin: 0;
    padding: 50px 5% 50px 5%;
    background-color: #0F2F18;
    width: 100%;
    height: auto;
}
.block1, .block2{
    margin: 0;
    padding: 30px 2% 30px 2%;
    width: 100%;
    height: auto;
    background-color: #EBC781;
    border-radius: 20px;
    font-size: 24px;
}
.block1 h1, .block2 h2{margin-bottom: 30px;}
.block1 textarea{
    resize: none;
    border:2px #0F2F18 solid;
    background-color: #EBC781;
    color: #0F2F18;
    width: 100%;
    padding: 10px;
    height: 300px;
    margin-bottom: 20px;
    outline: none;
    
}
.block1 textarea::placeholder, .block1 input::placeholder{
    color: #0F2F18;
}
.block1 input{
    border:2px #0F2F18 solid;
    background-color: #EBC781;
    color: #0F2F18;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
}
.button1{
    display: flex;
    width: 100%;
}
.button{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border: 3px solid #0F2F18;
    border-radius: 10px;
    background-color: #0F2F18;
    color: #EBC781;
    cursor: pointer;
    margin-left: auto;
}
.button img{
    margin-right: 20px;
}
.block2{margin-top: 50px;}

.ot{
    width: 100%;
    background-color: #0F2F18;
    padding: 20px 2% 20px 2%;
    color: #EBC781;
    border-radius: 10px;
    margin-top: 20px;
}
.ot2{
    width: 100%;
    display: flex;
    margin: 20px 0 20px 0;
}
.prof{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 0;
    width: 10%;
}
.neme{
    margin-top: 10px;
    padding: 10px;
    background-color: #0F2F18;
    width: 100%;
    text-align: center;
}
.textt{
    resize: none;
    border:none;
    background-color: #EBC781;
    color: #000000;
    width: 90%;
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
    outline: none;
}






.footer{
    margin: 0;
    padding: 20px 5% 20px 5%;
    background-color: #0F2F18;
    width: 100%;
    height: auto;
    display: flex;
}
.link_footer h1, .contacts2 h1{
    color: #FF6B00;
}
.link_footer a{
    text-decoration: none;
    color: #EBC781;
    font-size: 24px;
}
.contacts1{
    display: flex;

}
.contacts2 a {
    text-decoration: none;
    color: #EBC781;
    font-size: 24px;
}
.lyceum {
    color: #EBC781;
    font-size: 24px;
    text-align: end;
}
.contacts{
    display: flex;
    flex-direction: column;

}
.contacts div:last-of-type {
    margin-top: auto;
  }
.contacts1 div:last-of-type{
    margin-left: auto;
}
.link_footer{width: 30%;}
.contacts {width: 70%;}
.contacts2{
    width: 95%;
    
}
.social_network{
    width: 5%;
}
.social_network a img{
    width: 60px;
}
@media screen and (max-width: 1280px){
    .header{
        height: 60px;
    }
    .navbar_wrap .menu1{
        display: none;
    }
    .hamb{
        display: flex;
        align-items: center;
    }
    .hamb_field{
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 10px;
        margin: 6px auto;
        background-color: #EBC781;
        transition: 0.2s;
    }
    
    .popup{
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color:#0F2F18;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }
    .popup.open{
        left: 0;
    }
    .hamb_field.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamb_field.active .bar:nth-child(1){
        transform: translateY(8.8px) rotate(45deg);
    }
    .hamb_field.active .bar:nth-child(3){
        transform: translateY(-8.8px) rotate(-45deg);
    }
    .menu1{
        flex-direction: column;
        overflow: auto;
    }
    .link a{
        color: #EBC781;
    }
    .login {
        background-color:#0F2F18;
        flex-direction: column;
        width: 100%;
        margin: 20px 0 10px 0 ;
    }
    .link{
        width: 100%;
        margin: 10px 0 10px 0 ;
    }
    .link a{
        font-size: 16px;
    }
    .login li {
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
        color: #EBC781;
    }
    .login li a {
        font-size: 20px;
        color: #EBC781;

    }
    .login li a:hover{
        color:#FF6B00;
    }
    .menu li a{
        font-size: 20px;
    }
    .menu{
        width: auto;
        margin: 0 3% 0 auto;
    }
    .menu li {
        line-height: normal;
    }
    .profile a svg{
        width: 70%;
    }
    .logo img{
        height: 50px;
        width: auto;
    }


    .block1, .block2{
        padding: 30px 5% 30px 5%;
    }
    .prof{
        padding: 0 0 0 0;
        width: 20%;
    }
    .textt{width: 80%;}







    .lyceum{
        font-size: 16px;
        
    }
    .link_footer h1, .contacts2 h1{
        font-size: 24px;
        margin: 0 0 10px 0;
    }
    .link_footer1{
        margin: 10px 0 10px 0;
    }
    .link_footer1 a{
        font-size: 20px;
    }
    .contacts2 a{
        font-size: 20px;
    }
    .contacts2{
        width: 90%;
    }
    .social_network{
        width: 10%;
    }
    .social_network a img{
        width: 50px;
    }
}
@media screen and (max-width: 768px){
    .footer{
        flex-direction: column;
    }
    .contacts{
        width: 100%;
    }
    .contacts1{
        width: 100%;
        margin-bottom: 20px;
    }
    .contacts2{
        width: 80%;
    }
    .social_network{
        width: 10%;
    }
    .link_footer1{
        margin: 15px 0 15px 0;
    }



    
    .content h1{font-size: 24px;}
    .content p {font-size: 16px;}

    .ot2{
        flex-direction: column;
    }
    .prof{
        padding: 0 0 0 0;
        width: 100%;
    }
    .textt{width: 100%;}
    .ot{
        padding: 20px;
    }
    .prof{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .prof input{
        width: 30%;
    }
}